.container {
  align-items: center;
  margin-bottom: 30px;
}

.btn-Act {
  margin: 5px;
}

.navbar-brand img {
  margin-right: 10px; /* Ajusta el margen entre el logo y el texto si es necesario */
}

.navbar-custom {
  background-color: #e7fbfa; /* Cambia el color de fondo a verde */
}

.link-custom {
  color: black;
  font-weight: bold; /* Aplicar negritas */
  font-style: italic; /* Cambia "#your-color" al color deseado */
}


.navbar {
  border-bottom: 1px solid #92b9fc; /* Ajusta el grosor y el color del borde según tus preferencias */
}

.custom-toggler-icon {
  color: black; /* Cambia "#your-color" al color deseado */
}
