.container {
  align-items: center;
  margin-bottom: 100px;
  font-family: 'Ysabeau';
  color: black;
}

.container a{
color: black;}

.btn-Act {
  margin: 5px;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-custom {
  background-color: #e7fbfa;
}

.link-custom {
  color: black;
  font-weight: bold;
  font-family: "Italic", cursive;
}

.link-cerrarSesion {
  font-weight: bold;
  font-family: "Ysabeau";
}

.navbar {
  border-bottom: 1px solid #92b9fc;
  font-family: 'Ysabeau';
}

.navbar a{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.custom-toggler-icon {
  color: black;
}

.error-container h1{
  color: red;
  font-weight: bold;
  font-style: italic; 
}
.error-container p{
  font-weight: bold;
  font-style: italic; 
}
