<%- include("partials/_head", { titulo: titulo }) %>

<div class="container mt-5 datos">
    <h1>Proyecto final</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Desarrolladores</h5>
                    <p class="card-text">Luis Gerardo Bruno López</p>
                    <p class="card-text">Odalys Daniela García Luján</p>
                    <p class="card-text">Andrés Jovan Reyes Sánchez</p>
                    <p class="card-text">Johana Elizabeth Calzada Ramírez</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Cuatrimestre</h5>
                    <p class="card-text">Enero - abril 2024</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">UTNA</h5>
                    <p class="card-text">Universidad Tecnológica del Norte de Aguascalientes</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Carrera</h5>
                    <p class="card-text">Desarrollo y gestión de software</p>
                </div>
            </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Materias</h5>
                <p class="card-text">Administración de bases de datos</p>
                <p class="card-text">Desarrollo web profesional</p>
                <p class="card-text">Seguridad en el desarrollo de aplicaciones</p>
            </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Profesores</h5>
                <p class="card-text">Daniel Eduardo Gómez Cuevas</p>
                <p class="card-text">Yeivi Jara Ruiz</p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/pies") %>
