<%- include("partials/_header_errorA", { titulo: titulo }) %>

<div class="container text-center datos">
    <div class="error-container">
        <h1>Error en la ejecución</h1>
        <p>Por el momento no se puede realizar la accion solicitada.</p>
        <img src="/img/logo.png" alt="">
        <br>
        <a class="navbar-brand">
            <h1 class="m-0 text-black display-4"><span class="text-info">S</span>apphire<span
                    class="text-info">N</span>etworks</h1>  
        </a>
    </div>
</div>

<%- include("partials/_footer") %>