<%- include("partials/_header_errorA", { titulo: titulo }) %>

<div class="container text-center datos">
    <div class="error-container">
        <h1>Error de Acceso</h1>
        <p>No tienes permiso para acceder a esta página.</p>
        <img src="/img/errorAcceso.png" alt="">
    </div>
</div>

<%- include("partials/_footer") %>