<%- include("partials/_header_errorA", { titulo: titulo }) %>

<div class="container text-center datos">
    <div class="error-container">
        <h1>Error en la ejecución</h1>
        <p>Por el momento no se puede realizar la accion solicitada.</p>
        <img src="/img/logo.png" alt="">
    </div>
</div>

<%- include("partials/_footer") %>