<%- include("partials/_head", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <img src="img/login.png" class="img-fluid" alt="Phone image" />
    </div>
    <div class="col-lg-6 col-sm-12">
      <form action="/iniciarSesion" method="POST">
        <!-- Correo -->
        <div class="form-outline mb-4">
          <label class="form-label">Correo</label>
          <input
            type="email"
            id="correoUsuario"
            name="correoUsuario"
            class="form-control form-control-lg"
            placeholder="Ingrese su correo electrónico"
            required
            autofocus
          />
        </div>

        <!-- Usuario -->
        <div class="form-outline mb-4">
          <label class="form-label">Usuario</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control form-control-lg"
            placeholder="Ingrese su nombre de usuario"
            pattern="[a-zA-Z0-9]+"
            title="Ingrese solo letras y números"
            minlength="6"
            required
            autofocus
          />
        </div>

        <!-- Contraseña -->
        <div class="form-outline mb-4">
          <label class="form-label">Contraseña</label>
          <input
            type="password"
            id="contrasenaRegistro"
            name="contrasenaUsuario"
            class="form-control form-control-lg"
            placeholder="Ingrese su contraseña"
            minlength="9"
            required
            autofocus
          />
          <div style="text-align: right; margin-top: 2px">
            <input
              type="checkbox"
              id="mostrar_password"
              title="Presione para mostrar la contraseña"
            />
            &nbsp;&nbsp;Mostrar contraseña
          </div>
        </div>
        <button type="submit" class="btn btn-info">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
