<%- include("partials/_header", { titulo: titulo }) %>

<div class="container">
  <div class="row text-center">
    <h1>¡¡¡PROXIMAMENTE EN FUNCIONAMIENTO!!!</h1>
    <br />
    <img src="/img/logo.png" />
    <br />
  </div>
</div>

<%- include("partials/_footer") %>
