<%- include("partials/_header") %>

<div class="container mt-5 fluid">
  <div class="row">
    <h1>hello</h1>
    <div class="col-12">
      <h4>Bienvenido</h4>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
