<%- include("../partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card-body">
        <form action="/addCita" method="POST">
          <input
            type="date"
            name="fecha"
            placeholder="Fecha"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="text"
            name="descripcion"
            placeholder="Descripción"
            class="form-control mb-2"
          />
          <button type="submit" class="btn btn-info">Agendar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
