<%- include("../partials/_headerUsuarioG", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <a href="misDatos">
        <img src="/img/usuario.jpg" class="img-fluid" alt="Phone image" style="width: 90%; height: 80%;" />
        <span class="navbar-brand">Mi perfil</span>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <a href="agenda">
        <img src="/img/agenda.png" class="img-fluid" alt="Phone image" style="width: 90%; height: 80%;" />
        <span class="navbar-brand">Agendar citas</span>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <a href="misCitas">
        <img src="/img/vercitas.png" class="img-fluid" alt="Phone image" style="width: 90%; height: 80%;" />
        <span class="navbar-brand">Mis citas</span>
      </a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
