<%- include("../partials/_headerUsuarioG") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <img
      src="/img/usuarioT_D.jpg"
      class="img-fluid"
      alt="Phone image" href="citas"
    />
    <a class="navbar-brand" href="citas">Mi perfil</a>
    </div>
    <div class="col-6">
      <img
        src="/img/usuarioT_A.jpg"
        class="img-fluid"
        alt="Phone image" href="agenda"
      />
      <a class="navbar-brand" href="agenda">Consultar citas</a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
