<%- include("../partials/_headerUsuarioG", { titulo: titulo }) %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <img
        src="/img/usuarioT_D.jpg"
        class="img-fluid"
        alt="Phone image" href="citas"
      />
      <a class="navbar-brand" href="misDatos">Mi perfil</a>
    </div>
    <div class="col-4 text-center">
      <img
        src="/img/usuarioT_A.jpg"
        class="img-fluid"
        alt="Phone image" href="agenda"
      />
      <a class="navbar-brand" href="agenda">Agendar citas</a>
    </div>
    <div class="col-4 text-center">
      <img
        src="/img/usuarioA_C.jpg"
        class="img-fluid"
        alt="Phone image" href="verCitas"
      />
      <a class="navbar-brand" href="misCitas">Mis citas</a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
