<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/styles/style.css" rel="stylesheet">
</head>
<body>

<!-- Navbar Start -->
<div class="container-fluid nav-bar p-0">
  <div class="container-lg p-0">
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">


      <a class="navbar-brand">
        <h1 class="m-0 text-white display-4"><span class="text-info">S</span>apphire<span
            class="text-info">N</span>etworks</h1>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto py-0">
          <a class="nav-item nav-link" href="tableroSupervisor">Panel de control</a>
          <a class="nav-item nav-link" href="consultaPersonal">Personal</a>
          <a class="nav-item nav-link" href="consultaUsuarios">Usuarios</a>
          <a class="nav-item nav-link" href="consultaCitas">Cita</a>
          <a class="nav-link link-cerrarSesion" href="cerrarSesion">Cerrar sesión</a>

        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5 mb-5">

  <div class="d-inline-flex text-white">

  </div>
</div>
<!-- Page Header End -->
