<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= titulo %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar p-0">
        <div class="container-lg p-0">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                

                <a href="/" class="navbar-brand">
                    <h1 class="m-0 text-white display-4"><span class="text-info">S</span>apphire<span
                            class="text-info">N</span>etworks</h1>  
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="login" class="nav-item nav-link">Inicio de Sesión</a>
                        <a href="registro" class="nav-item nav-link">Registrarme</a>
                        
                        </div>
                       
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="img/1.jpg" alt="Image" >
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Cuida tu salud</h5>
                            <h1 class="display-3 text-white mb-md-4">Accede a una atención médica de calidad en línea</h1>
                            <a href="registro" class="btn btn-info py-md-2 px-md-4 font-weight-semi-bold mt-2">Registrarme</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="img/consulta.jpg" alt="Image" style="height: 850px;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Prioriza tu bienestar</h5>
                            <h1 class="display-3 text-white mb-md-4">Citas médicas, sin complicaciones</h1>
                            <a href="registro" class="btn btn-info py-md-2 px-md-4 font-weight-semi-bold mt-2">Registrarme</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="img/salud.png" alt="Image" style="height: 850px;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Cuida de ti, cuida de los tuyos</h5>
                            <h1 class="display-3 text-white mb-md-4">Atención médica rápida y fácil</h1>
                            <a href="registro" class="btn btn-info py-md-2 px-md-4 font-weight-semi-bold mt-2">Registrarme</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center pb-1">
                <div class="col-lg-5">
                    <img class="img-thumbnail p-3" src="img/docsss.jpg" alt="">
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <small class="bg-info text-white text-uppercase font-weight-bold px-1">Antecedentes</small>
                    <h1 class="mt-2 mb-4">Nuestra experiencia en cuidado médico te brinda acceso a los mejores profesionales desde la comodidad de tu hogar...
                        </p>
                        <a href="/login" class="btn btn-info py-md-2 px-md-4 font-weight-semi-bold">Agendar cita...</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="d-flex align-items-center border mb-4 mb-lg-0 p-4" style="height: 120px;">
                        <i class="fa fa-2x fa-map-marker-alt text-info mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Encuentranos en: </h5>
                            <p class="m-0">Av Universidad, 20010 Aguascalientes, Ags.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center border mb-4 mb-lg-0 p-4" style="height: 120px;">
                        <i class="fa fa-2x fa-envelope-open text-info mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Email de contacto</h5>
                            <p class="m-0">Sapphire_Networks@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center border mb-4 mb-lg-0 p-4" style="height: 120px;">
                        <i class="fas fa-2x fa-phone-alt text-info mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="font-weight-bold">Contactanos</h5>
                            <p class="m-0">+52 465 102 15 12</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <small class="bg-info text-white text-uppercase font-weight-bold px-1">Caracterizacion de la empresa</small>
                    <h1 class="mt-2 mb-3">Beneficios</h1>
                    <h4 class="font-weight-normal text-muted mb-4">- Comodidad de reservar citas en línea <br> - Acceso a una variedad de especialidades médicas.<br>- Flexibilidad de horarios. <br> - Ahorro de Tiempo.
                    </h4>
                    

                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="d-flex">
                                <i class='fas fa-first-aid' style='font-size:36px;color:black;padding: 2%;'>  </i>
                                
                                <div class="d-flex flex-column">
                                    <h4 class="font-weight-bold mb-3">  Protege...</h4>
                                    <p> "Un chequeo médico a tiempo puede salvar vidas. Detecta problemas de salud antes de que se conviertan en serias complicaciones."</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="d-flex">
                               
                                <i class='fas fa-heartbeat' style='font-size:36px;color:black;padding: 2%;'></i>

                                <div class="d-flex flex-column">
                                    <h4 class="font-weight-bold mb-3">Prevenir</h4>
                                    <p>"Prioriza tu bienestar y programa chequeos regulares: la prevención es clave para una vida saludable y activa."</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            
                        </div>
                        <div class="col-md-6 mb-5">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Features Start -->
    <div class="container-fluid pt-5 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <h1 class="mt-2 mb-3">7 Años de experiencia</h1>
                    <h4 class="font-weight-normal text-muted mb-4">Años de servicio ofreciendo la mejor calidad</h4>
                    <div class="list-inline mb-4">

                        <p class="font-weight-semi-bold mb-2"><i class="fa fa-angle-right text-info mr-2"></i>Mejores
                            reseñas</p>
                        <p class="font-weight-semi-bold mb-2"><i class="fa fa-angle-right text-info mr-2"></i>Calidad
                            y servicio</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-6 pb-1">
                            <div class="d-flex flex-column align-items-center border px-4 mb-4">
                                <h2 class="display-3 text-info mb-3" data-toggle="counter-up">7</h2>
                                <h5 class="font-weight-bold mb-4">Años de experiencia</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 pb-1">
                            <div class="d-flex flex-column align-items-center border px-4 mb-4">
                                <h2 class="display-3 text-info mb-3" data-toggle="counter-up">50</h2>
                                <h5 class="font-weight-bold mb-4">Personal capacitado</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 pb-1">
                            <div class="d-flex flex-column align-items-center border px-4 mb-4">
                                <h2 class="display-3 text-info mb-3" data-toggle="counter-up">9358</h2>
                                <h5 class="font-weight-bold mb-4">Clientes satisfechos</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 pb-1">
                            <div class="d-flex flex-column align-items-center border px-4 mb-4">
                                <h2 class="display-3 text-info mb-3" data-toggle="counter-up">1350</h2>
                                <h5 class="font-weight-bold mb-4">Ordenes totales por año</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

   

    



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-info back-to-top"><i class="fa fa-angle-up"></i></a>


</body>

</html>