<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CITAS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">CITAS</a>
        <a class="navbar-brand" href="registro">Registrar</a>
        <a class="navbar-brand" href="usuario">Usuarios</a>
        <a class="navbar-brand" href="citas">Citas</a>
        <a class="navbar-brand" href="agenda">Agendar</a>
      </div>
    </nav>
  </body>
</html>
