<%- include("../partials/_headerAdmin", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <img
        src="/img/usuarioA_U.jpg"
        class="img-fluid"
        alt="Phone image" href="usuario"
      />
      <a class="navbar-brand" href="usuario">Administrar usuarios</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <img
        src="/img/usuarioA_C.jpg"
        class="img-fluid"
        alt="Phone image" href="citas"
      />
      <a class="navbar-brand" href="citas">Administrar citas</a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
