<%- include("../partials/_headerAdmin", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <a href="usuario">
        <img src="/img/usuarioA_U.jpg" class="img-fluid" alt="Phone image" />
        <span class="navbar-brand">Administrar usuarios</span>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 text-center">
      <a href="citas">
        <img src="/img/usuarioA_C.jpg" class="img-fluid" alt="Phone image" />
        <span class="navbar-brand">Administrar citas</span>
      </a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
