<%- include("../partials/_headerAdmin") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <img
      src="/img/usuarioA_U.jpg"
      class="img-fluid"
      alt="Phone image" href="citas"
    />
    <a class="navbar-brand" href="citas">Administrar usuarios</a>
    </div>
    <div class="col-6">
      <img
        src="/img/usuarioA_C.jpg"
        class="img-fluid"
        alt="Phone image" href="agenda"
      />
      <a class="navbar-brand" href="agenda">Administrar citas</a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
