<%- include("../partials/_headerSupervisor", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <a href="consultaUsuarios">
        <img src="/img/usuarioA_U.jpg" class="img-fluid" alt="Phone image" />
        <span class="navbar-brand">Consultar usuarios</span>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <a href="consultaPersonal">
        <img src="/img/consulta_personal.jpeg" class="img-fluid" alt="Phone image" />
        <span class="navbar-brand">Consulta de personal</span>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <a href="personal">
        <img src="/img/registro_personal.jpeg" class="img-fluid" alt="Phone image" />
        <span class="navbar-brand">Agregar personal</span>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <a href="consultaCitas">
        <img src="/img/usuarioA_C.jpg" class="img-fluid" alt="Phone image" />
        <span class="navbar-brand">Consultar citas</span>
      </a>
    </div>
  </div>
</div>
<a href="modificarRolUsuarios" style="color:white;">Roles</a>
<%- include("../partials/_footer") %>
