<%- include("../partials/_headerSupervisor", { titulo: titulo }) %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <img
        src="/img/usuarioA_U.jpg"
        class="img-fluid"
        alt="Phone image" href="consultaUsuarios"
      />
      <a class="navbar-brand" href="consultaUsuarios">Consultar usuarios</a>
    </div>
    <div class="col-3 text-center">
      <img
        src="/img/logo.png"
        class="img-fluid"
        alt="Phone image" href="consultaPersonal"
      />
      <a class="navbar-brand" href="consultaPersonal">Consulta de personal</a>
    </div>
    <div class="col-3 text-center">
      <img
        src="/img/logo.png"
        class="img-fluid"
        alt="Phone image" href="personal"
      />
      <a class="navbar-brand" href="personal">Agregar personal</a>
    </div>
    <div class="col-3 text-center">
      <img
        src="/img/usuarioA_C.jpg"
        class="img-fluid"
        alt="Phone image" href="consultaCitas"
      />
      <a class="navbar-brand" href="consultaCitas">Consultar citas</a>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
